img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4ebc3;
  font-family: 'Mukta', sans-serif;
  font-size: 18px;

  /* Sets the font size to 16px */
  font-weight: 300;

  /* Sets the font weight to 300 */
  line-height: 1.6;

  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

a {
  color: #ff7f50;
  text-decoration: none;

  /* No underlining */
}

a:hover {
  color: #cc6540;
  text-decoration: underline;

  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #ff7f50;
}

a:active {
  /* selected link */
  color: #994c30;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

.button,
.button:visited {
  display: inline-block;
  background-color: #db3b00;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;

  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #db3b00;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #db3b00;
  color: #fff;
}

header {
  position: fixed;
  background-color: #0b3736;
  width: 100%;
  border-bottom: 3px solid #000;
  padding: 5px 0 4px;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center; /* Centers text */
  margin: 20px;
  padding: 0.67em 0;
}

.center {
  text-align: center;
}

.logo {
  max-width: 150px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

#hero {
  background-color: #ffe4c4;
  padding: 20;
  display: inline-block;
  width: 100%;
}

.icon {
  max-width: 150px;
}

main {
  padding-top: 56px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 32px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    position: fixed;
    margin-top: auto;
    background-color: #0b3736;
    width: 100%;
    border-bottom: 3px solid #000;
    padding: 5px 0 4px;
  }

  #hero {
    background-color: #ffe4c4;
    padding-top: 120px;
    display: inline-block;
    width: 100%;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    margin: 1em 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    position: fixed;
    margin-top: auto;
    background-color: #0b3736;
    width: 100%;
    border-bottom: 3px solid #000;
    padding: 5px 0 4px;
  }

  body {
    background-color: #f4ebc3;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;

    /* Sets the font size to 16px */
    font-weight: 300;

    /* Sets the font weight to 300 */
    line-height: 1.6;

    /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }

  #hero {
    background-color: #ffe4c4;
    padding-top: 120px;
    display: inline-block;
    width: 100%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  @keyframes color-change {
    from { fill: #edc655; }
    to { fill: #f76414; }
  }

  header {
    position: fixed;
    margin-top: auto;
    background-color: #0b3736;
    width: 100%;
    border-bottom: 3px solid #000;
    padding: 5px 0 4px;
  }

  #hero {
    background-color: #ffe4c4;
    padding-top: 120px;
    display: inline-block;
    width: 100%;
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from { transform: translate(0, 50px); }
    to { transform: translate(200px, 50px); }
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from { transform: translate(446px, 48px); }
    to { transform: translate(100px, 48px); }
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }
}
